.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100%;
}
.Col {
  width: 25%;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 
  
}
.Left {
  width: 80%;
  background-color: black;
  min-height: 150vh;
  padding-left: 50px;
  text-align: left;
  
}
.Right {
  width: 20%;
  background-color: #151515;
  min-height: 150vh;
}
.Header {
  background-color: #999C9F;
  height: 5vh;
  width: 100%;
  position:sticky;
  top:0;
}

.Body{
  display:flex;
  flex-direction: row;
  width: 100%;
}

.Title{
  width:100%;
  font-size:20;
  padding: 20px 0;
}
.Elements{
  min-height: 100%;
  width:100%;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.input {
  width: 600px;
  height: 50px;
  font-size: 18pt;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
